<article id="accueil" class="container">

    <div class="container rounded border border-3 border-dark bg-light">

        <div class="row g-0 p-2">

            <aside class="col-lg-4 my-3">
                <img src="../public/images/moi.jpg" class="img-fluid rounded" alt="Gaël Dedenis, développeur web junior.">
            </aside>

            <section class="col-lg-8">

                <div class="container p-2">

                    <h1 class="text-center text-decoration-underline fw-bold">Gaël Dedenis</h1>
                    <p class="p-2 text-secondary fw-bold">
                        Jeune développeur web sur le bassin Oyonnaxien,<br>
                        je suis en reconversion dans un domaine qui m'attire. Passionné par la nature, les jeux vidéos, les technologies et la culture financière, je développe régulièrement des petits projets sur ces domaines.<br>
                        J'aime m'ouvrir à de nouveaux horizons, connaissances et expériences. Cela m'amène à pouvoir évoluer dans différentes situations.
                    </p>

                </div>

            </section>

        </div>

    </div>

</article>