<article class="container my-4 rounded border border-3 border-dark bg-light">

    <h2 class="my-5 text-center text-decoration-underline fw-bold">Derniers projets réalisés</h2>

    <div id="carouselPortfolio" class="carousel carousel-dark carousel-fade slide my-5" data-bs-ride="carousel">

        <div class="carousel-indicators">

            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="3" aria-label="Slide 4"></button>

        </div>

        <div class="carousel-inner">
            <div class="carousel-item text-center active">
                <a href="https://blog-jean-forteroche.gael-dedenis.fr/">
                    <img src="../public/images/projets/blog_jforteroche.jpg" alt="Jean Forteroche, auteur d'un roman publier sur son blog." title="Blog de l'écrivain Jean Forteroche, développer en php uniquement sans framework.">
                </a>
            </div>

            <div class="carousel-item text-center">
                <a href="https://loco-bikes.gael-dedenis.fr/">
                    <img src="../public/images/projets/locobike.jpg" alt="Un vélo debout roulant sur une feuille représentant un chemin." title="Loc'o'Bike, votre site de réservation de vélo en ligne !">
                </a>
            </div>

            <div class="carousel-item text-center">
                <a href="https://www.ireki-tourisme.gael-dedenis.fr/">
                    <img src="../public/images/projets/ireki.jpg" alt="Le lac au pied d'une montagne proche de la ville d'Ireki." title="Site officiel de l'office de tourisme d'Ireki.">
                </a>
            </div>

            <div class="carousel-item text-center">
                <a href="">
                    <img src="../public/images/moi.jpg" alt="Gaël Dedenis, développeur web junior.">
                </a>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

</article>