<article id="accueil" class="container pt-4">

    <h2 class="my-2 text-center text-decoration-underline fw-bold">A propos de moi</h2>

    <div class="row my-3 p-2">

        <aside class="col-lg-4 my-3">
            <img src="../public/images/moi.webp" class="img-fluid border border-2 border-dark rounded" width="400" height="225" alt="Gaël Dedenis, développeur web junior.">
        </aside>

        <div class="col-lg-8">

            <div class="container pt-5 pb-5">

                <p class="text-secondary fw-bold">
                    Jeune développeur web sur le bassin Oyonnaxien,<br>
                    je suis en reconversion dans un domaine qui m'attire. Passionné par la nature, les jeux vidéos, les technologies et la culture financière, je développe régulièrement des petits projets sur ces domaines.<br>
                    J'aime m'ouvrir à de nouveaux horizons, connaissances et expériences. Cela m'amène à pouvoir évoluer dans différentes situations.
                </p>

            </div>

        </div>

    </div>

</article>