<article id="services" class="my-5 p-4 bg-secondary text-dark fw-bold">

    <h2 class="my-3 text-center text-decoration-underline fw-bold">Mes services</h2>

    <p class="my-2 text-center">
        Retrouvez toute une gamme de services pour votre visibilité sur le web !
    </p>

    <div class="container-fluid my-4">

        <div class="row">

            <section class="col-md-5 rounded-3 border border-2 border-secondary mx-auto my-3">
                <h3 class="my-4 text-center">Intégrateur web</h3>
                <p>
                    Intégration et création de contenus pour site web à partir de maquette, cahier des charges, etc...<br>
                </p>
                <aside class="container-fluid my-2">
                    <div class="row justify-content-center">
                        <img src="../public/images/logos/html.png" class="col-md-3 my-2" alt="logo du langages html5">
                        <img src="../public/images/logos/css.png" class="col-md-3 my-2" alt="logo du langages css3">
                        <img src="../public/images/logos/bootstrap.png" class="col-md-3 my-2" alt="logo du framework bootstrap">
                    </div>
                </aside>
            </section>

            <section class="col-md-5 rounded-3 border border-2 border-secondary mx-auto my-3">
                <h3 class="my-4 text-center">Développement sous CMS</h3>
                <p>
                    Intégration et création de site web et e-commerce sous Wordpress et Prestashop.<br>
                </p>
                <aside class="container-fluid my-2">
                    <div class="row justify-content-center">
                        <img src="../public/images/logos/wordpress.png" class="col-md-3 my-2" alt="logo du cms wordpress">
                        <img src="../public/images/logos/prestashop.png" class="col-md-3 my-2" alt="logo du cms prestashop">
                    </div>
                </aside>
            </section>

            <section class="col-md-5 rounded-3 border border-2 border-secondary mx-auto my-3">
                <h3 class="my-4 text-center">Développement Front-End</h3>
                <p>
                    Développement d'interface utilisateur sous Javascript.<br>
                </p>
                <aside class="container-fluid my-2">
                    <div class="row justify-content-center">
                        <img src="../public/images/logos/js.png" class="col-md-3 my-2" alt="logo du langage Javascript">
                        <img src="../public/images/logos/jquery.png" class="col-md-3 my-2" alt="logo du framework jQuery">
                    </div>
                </aside>
            </section>

            <section class="col-md-5 rounded-3 border border-2 border-secondary mx-auto my-3">
                <h3 class="my-4 text-center">Développement Back-End</h3>
                <p>
                    Développement de l'interface et infrastructure Back sous PHP et Framework PHP.<br>
                </p>
                <aside class="container-fluid my-2">
                    <div class="row justify-content-center">
                        <img src="../public/images/logos/php.png" class="col-md-3 my-2" alt="logo du langage php">
                        <img src="../public/images/logos/symfony.png" class="col-md-3 my-2" alt="logo du framework symfony">
                    </div>
                </aside>
            </section>

        </div>

    </div>

</article>