{% extends "layouts/layout.twig" %}

{% block title %}
    Développeur web Gaël Dedenis portfolio.
{% endblock %}

{% block header %}
    <header class="my-4">
        {{ include ("layouts/navbar_visitor.twig") }}
    </header>
{% endblock %}

{% block content %}
        <main class="container">

            <h1>Développeur Web</h1>

        </main>
    {% endblock %}

    {% block footer %}
        <footer class="">
            <p>Portfolio réaliser par Gaël Dedenis dans le cadre de sa formation pour son projet 5.</p>
        </footer>
    {% endblock %}