svg {
  width: 100%;
  height: 100%;
}

.img-services {
  display: none;
}

section.sections-services::after {
  content: "";
  display: block;
  margin: 0 auto;
  border: 3px solid #f8f9fa;
  border-radius: 50%;
  width: 75%;
}

.project {
  width: 100%;
  max-height: 400px;
}

.project img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.margin-hight {
  margin-top: 7vh;
  margin-bottom: 5vh;
}

.d-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .margin-hight {
    margin-top: 16vh;
    margin-bottom: 18vh;
  }

  .img-services {
    display: block;
  }

  .img-services img {
    height: auto;
    max-width: 100px;
  }

  section.sections-services::after {
    content: "";
    display: none;
  }

  .project {
    width: 45%;
    max-height: 500px;
  }

  .project img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
  }
}

@media screen and (min-width: 1920px) {
  .margin-hight {
    margin-top: 22vh;
    margin-bottom: 18vh;
  }

  img.admin-img {
    max-width: 600px;
  }

  .img-services img {
    max-width: 150px;
  }

  .project {
    width: 25%;
    max-height: 500px;
  }

  .project img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
  }
}

@media screen and (min-width: 2560px) {
  .margin-hight {
    margin-top: 22vh;
    margin-bottom: 26vh;
  }
}

