<!DOCTYPE html>

<html lang="fr">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

            <!-- .......... Title ........... -->
        <title>
            {% block title %}{% endblock %}
        </title>

            <!-- .......... Meta OpenGraph ........... -->
        <meta property="og.type"        content="website">
        <meta property="og:title"       content="Portfolio de Gaël Dedenis">
        <meta property="og:language"    content="fr">
        <meta property="og:url"         content="https://gael-dedenis.fr">
        <meta property="og:image"       content="">
        <meta property="og:description" content="Portfolio de Gaël Dedenis. Retrouvez tout mes projets réalisés.">
        <meta property="og:author"      content="Gael Dedenis">

        <!-- ........... Meta Twitter Card ........... -->
        <meta name="twitter:card"        content="summary">
        <meta name="twitter:title"       content="Portfolio de Gaël Dedenis">
        <meta name="twitter:language"    content="fr">
        <meta name="twitter:site"        content="https://gael-dedenis.fr">
        <meta name="twitter:image"       content="">
        <meta name="twitter:description" content="Portfolio de Gaël Dedenis. Retrouvez tout mes projets réalisés.">
        <meta name="twitter:creator"     content="Gael Dedenis">

        <!-- ........... Css ........... -->
<!-- CSS only -->
        <link href="../public/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../public/css/style.css">

    </head>

    <body class="container-fluid p-0 bg-dark">

        <nav class="sticky-top bg-dark">
            {% block header %}{% endblock %}
        </nav>

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}

        <!-- JavaScript Bundle with Popper (Bootstrap5)-->
        <script src="../public/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

        {% block script %}{% endblock %}

    </body>

</html>