<nav class="nav nav_visiteur justify-content-center">
    <h2 class="mx-5">Gaël Dedenis</h2>

    <a class="nav-link active" aria-current="page" href="{{ url('home') }}">Accueil</a>
    <a class="nav-link" href="{{ url('portfolio') }}">PortFolio</a>
    <a class="nav-link" href="{{ url('contact') }}">Retrouvez moi</a>
</nav>