<nav class="nav justify-content-center">
    <a class="nav-link link-light active" aria-current="page" href="#accueil">Accueil</a>
    <a class="nav-link link-light" href="#service">Services</a>
    <a class="nav-link link-light" href="{{ url('portfolio') }}">Portfolio</a>
    <a class="nav-link link-light" href="#contact">Contact</a>
</nav>