{% if session.user.mail == "gaeldedenis01@laposte.net" %}

    <nav class="navbar justify-content-center sticky-top bg-dark">
        <a class="nav-link link-light" href="{{ url('home') }}">Accueil</a>
        <a class="nav-link link-light" href="{{ url('admin') }}">Administration</a>
        <a class="nav-link link-light" href="{{ url('auth!logout') }}">Se déconnecter</a>
    </nav>

{% else %}

    <nav class="navbar justify-content-center sticky-top bg-dark">
        <a class="nav-link link-light active" aria-current="page" href="#accueil">Accueil</a>
        <a class="nav-link link-light" href="#service">Services</a>
        <a class="nav-link link-light" href="#portfolio">Portfolio</a>
        <a class="nav-link link-light" href="#contact">Contact</a>
        <a class="nav-link link-light" href="{{ url('auth') }}">Se connecter</a>
    </nav>

{% endif %}